<!DOCTYPE html>
<html lang="en" ng-app>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="Forex workbench">
    <meta name="author" content="Arkady Seletsky">
    <link rel="icon" href="favicon.ico">

    <title>Forex workbench</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="forex.css" rel="stylesheet">
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Forex</a>
        </div>


        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Help</a></li>
            </ul>
            <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="Search...">
            </form>
        </div>
    </div>
</nav>


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
                <li><a href="#quotes">Quotes</a></li>
                <li><a href="#positions">Positions</a></li>
                <li><a href="#history">History</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ng-controller="quotesController">
            <h1 class="page-header">Dashboard</h1>

            <p class="lead">This is a demo single page application (SPA) featuring FX trading user interface.
                It uses live market data feed, but all transactions are simulated.</p>

            <div class="row placeholders">
                <div class="col-xs-6 col-sm-3 placeholder">
                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                         width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                    <h4>Label</h4>
                    <span class="text-muted">Something else</span>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">
                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                         width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                    <h4>Label</h4>
                    <span class="text-muted">Something else</span>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">
                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                         width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                    <h4>Label</h4>
                    <span class="text-muted">Something else</span>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">
                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                         width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                    <h4>Label</h4>
                    <span class="text-muted">Something else</span>
                </div>
            </div>

            <h2 class="sub-header" id="quotes">Live quotes</h2>
            <input type="text" class="form-control" placeholder="Search..." size="10" style="width: 200px" ng-model="quoteSearchForSymbol">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Symbol</th>
                        <th>Price</th>
                        <th>Last updated</th>
                        <th>Expires in</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="quote in quote_list | filter:{ 'symbol': quoteSearchForSymbol}">
                        <td><button class="btn btn-link" ng-click="select_quote(quote)">{{quote.symbol}}</button></td>
                        <td>{{quote.price}}</td>
                        <td>{{quote.timestamp}}</td>
                        <td>{{quote.expiresInSeconds}} sec</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <button type="button" class="btn btn-success btn-lg" ng-click="buy()">Buy</button>
                </div>
                <div class="col-md-4">
                    <div class="input-group-lg">
                        <input type="text" class="form-control" id="your-quantity" placeholder="Quantity..." ng-model="currentQuantity">
                    </div>
                </div>
                <div class="col-md-4">
                    <button type="button" class="btn btn-danger btn-lg">Sell</button>
                </div>
            </div>

            <h2 class="sub-header" id="positions">Positions</h2>
            <input type="text" class="form-control" placeholder="Type currency..." size="10" style="width: 200px" ng-model="positionSearchForCurrency">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Currency</th>
                        <th>Position</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr ng-repeat="pos in position_list | filter:{ 'currency': positionSearchForCurrency}">
                        <td>{{pos.currency}}</td>
                        <td>{{pos.position}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <h2 class="sub-header" id="history">History</h2>
            <input type="text" class="form-control" placeholder="Type symbol..." size="10" style="width: 200px" ng-model="operationSearchForSymbol">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Time</th>
                        <th>Symbol</th>
                        <th>Side</th>
                        <th>Quantity</th>
                        <th>Price</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr ng-repeat="operation in operation_list | filter:{ 'symbol': operationSearchForSymbol} | orderBy: 'timestamp'">
                        <td>{{operation.timestamp.toLocaleString()}}</td>
                        <td>{{operation.symbol}}</td>
                        <td>{{operation.side}}</td>
                        <td>{{operation.quantity}}</td>
                        <td>{{operation.price}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

<script src="jquery.min.js"></script>
<script src="bootstrap.min.js"></script>
<script type="text/javascript" src="angular.min.js"></script>
<script type="text/javascript" src="data.js"></script>
</body>
</html>
